@model BookGallery.Models.Book[]

<div class="row">
    @foreach (var book in Model)
    {
        <div class="col-md-3">
            <h4>@Html.ActionLink(book.DisplayText, "Detail", "Books", new { id = book.Id }, null)</h4>
            <a href="@Url.Action("Detail", "Books", new { id = book.Id })">
                <img src="~/Images/@book.CoverImageFileName" class="img-responsive" alt="@book.DisplayText" />
            </a>
        </div>
    }
</div>
