@model BookGallery.Models.Series

@{
    ViewBag.Title = Model.Title;
    ViewBag.ShowBackBar = true;
}

<h2>@ViewBag.Title</h2>

<div class="well">
    <h5>Description</h5>
    <div>
        @Html.Raw(Model.DescriptionHtml)
    </div>
</div>

@Html.Partial("_BooksList", Model.Issues)


