@model BookGallery.Models.Book[]

@{
    ViewBag.Title = "Books";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    @foreach (var book in Model)
    {
        <div class="col-md-3">
            <h4>@Html.ActionLink(book.DisplayText, "Detail", new { id = book.Id })</h4>
            <a href="@Url.Action("Detail", new { id = book.Id }) ">
                <img src="/Images/@book.CoverImageFileName"
                     alt="@book.DisplayText"
                     class="img-responsive" />
            </a>
        </div>
    }
</div>


